.button{
    height: 50px;
    border-radius:10px;
    font-weight: 700;
    font-size: 18px;
    background: #835afd;  
    padding: 0 32px; 
    color: #FFF;
    cursor:pointer;
    border: 1px solid #835afd;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.2);

    transition: filter 0.2s;

    >img{

        margin-right: 16px;
        align-self: center;
    }
    &:not(:disabled):hover{
        filter: brightness(0.9)
    }
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}