.button{
    height: 50px;
    border-radius:10px;
    font-weight: 700;
    font-size: 18px;
    background: #835afd;  
    padding: 0 32px; 
    color: #FFF;
    cursor:pointer;

    display: flex;
    justify-content: center;
    align-items: center;


    transition: filter 0.2s;

    >img{

        margin-right: 16px;
        align-self: center;
    }
    &:not(:disabled):hover{
        filter: brightness(0.9)
    }
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}